:root {
    --x-offset: 0px;
    --y-offset: 0px;
}
.menu {
  display: flex;
  justify-content:center;
  align-items:center;
  top: 0px;
  left: 0px;
  height:100%;
  width: 100%;
  position: absolute;
  flex-direction: column;
  background-image:url('/capybara/most-epic-background-ever-and-no-one-can-object-this-message.png');
  background-repeat:no-repeat;
  background-position:bottom;
  background-size:cover;
  image-rendering:pixelated;
}
.menu-button {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  font-size: 3rem;
  background-color: #3F000F;
  border-radius: 1000px;
  height: 120px;
  width: 400px;
  margin: 5px;
  border-color: #65333f;
  border-width: 5px;
  border-style: solid;
  cursor: pointer;
  transition: 1s;
  max-width: 80%;
  max-height: 40%;
  transform: scale(1)
}
.menu-button:hover {
  animation-name: sinewave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: scale(1.1) rotate(0deg);
  background-color: #521a27;
  border-color: #65333f;
}
@keyframes sinewave {
   0%{transform: scale(1.2) rotate(0deg)}
  25%{transform: scale(1.2) rotate(-2deg)}
  75%{transform: scale(1.2) rotate(2deg)}
  100%{transform: scale(1.2) rotate(0deg)}
}
.character {
  width: 64px;
  position:absolute;
  height: 64px;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}
body {
  overflow: hidden;
  background: #cccccc;
}
.block {
  position: absolute;
  image-rendering: pixelated;
  background:black;
}
.fakeout {
  position: absolute;
  image-rendering: pixelated;
  background:#333333;
}
.enemy {
  position:absolute;
  background:red;
  height:32px;
  width:32px;
}
.topbar {
  top: 0px;
  width:100%;
  height:32px;
  left: 0px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-family:Arial;
  font-size:25px;
  z-index:2;
}
.rightbar {
  top: 0px;
  right:0px;
  height:100%;
  width:32px;
}
.bottombar {
  bottom: 0px;
  width:100%;
  height:32px;
  left: 0px;
}
.leftbar {
  top: 0px;
  left:0px;
  height:100%;
  width:32px;
}
.impossible {
  position:absolute;
  right: 10px;
  bottom:10px;
  padding:20px;
  background:green;
  color:white;
  font-family:Arial;
  font-size:30px;
  cursor:pointer;
  transition:0.5s;
  border-radius:10px;
}
.impossible:hover {
  background:blue;
}
.game-over {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  color:red;
  font-size:80px;
  background-color:black;
  height:200px;
  box-shadow: 0px 0px 100px black;
  text-shadow: 0px 0px 20px red;
}
.score {
  font-size:40px;
  text-shadow: 0px 0px 20px red;
  text-align:center;
}
.goc {
  position:absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.error-found {
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  color:white;
  font-size:80px;
  background-color:black;
  height:250px;
  box-shadow: 0px 0px 100px black;
  text-shadow: 0px 0px 20px white;
}
.error-found > div {
  text-align:center;
}
.error-found > div > div > .score {
  font-size:40px;
  text-shadow: 0px 0px 20px white;
  text-align:center;
}
.click-me {
  color:lime;
  cursor:pointer;
  text-shadow: 0px 0px 20px lime;
  text-decoration:none;
}
.click-me:hover {
  text-decoration:underline;
}
.settings-menu {
  height:calc(100% - 40px);
  width:calc(100% - 40px);
  position:absolute;
  top: 0px;
  left: 0px;
  background-color: #222222;
  padding:20px;
  display:flex;
  flex-direction:column;
}
.popup {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border-radius:20px;
    position:fixed;
    top: 20px;
    left: 20px;
    display:none;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background-color: #2b2b2b;;
    z-index: 200;
}
.popup > div {
    height: 100%;
    width: 100%;
    position:relative;
}
.smallpopupcontainer {
    position:fixed;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    pointer-events:none;
    z-index:200;
    align-items:center;
}
.smallpopup {
    max-width: min(500px,calc(100% - 40px));
    max-height: calc(100% - 40px);
    border-radius:20px;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background-color: #2b2b2b;
    box-shadow:0px 0px 10px black;
    pointer-events:auto;
    z-index: 200;
}
.smallpopup > div {
    height: 100%;
    width:100%;
    min-width: min(500px, calc(100vw - 60px));
    min-height:200px;
    position:relative;
}
.popup2 {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border-radius:20px;
    position:fixed;
    top: 20px;
    left: 20px;
    display:none;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background-color: #2b2b2b;
    z-index: 201;
}
.popup2 > div {
    height: 100%;
    width: 100%;
    position:relative;
}
.topbarpopup {
    position:absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 85px);
    height: 40px;
    background-color: darkred;
    display:flex;
    justify-content:center;
    padding: 15px;
    padding-right: 70px;
    flex-direction:column;
}
.topbarsmallpopup {
    width: calc(100% - 25px);
    height: 50px;
    background-color: darkred;
    display:flex;
    align-items:center;
    padding: 10px;
    padding-left:15px;
    flex-direction:row;
}
.containtitlesmallpopup {
    height: 50px;
    width: calc(100% - 60px);
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.titlesmallpopup {
    font-size: 20px;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.titlepopup {
    font-size: 20px;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.datepopup {
  font-size: 15px;
    color: #DDDDDD;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.datesmallpopup {
  font-size: 15px;
    color: #DDDDDD;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.titlepopup > div {
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.titlesmallpopup > div {
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.datepopup > div {
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.datesmallpopup > div {
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.xpopup {
    position:absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    width:50px;
    background:none;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    font-size:30px;
    color:white;
}
.xpopup:hover,.xpopup:focus-visible {
    background-color:#ffffff44;
}
.xsmallpopup {
    border-radius: 10px;
    width:50px;
    background:none;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    margin-left:auto;
    font-size:30px;
    color:white;
}
.xsmallpopup:hover,.xsmallpopup:focus-visible {
    background-color:#ffffff44;
}
.contentpopup {
    position:absolute;
    top: 80px;
    width: calc(100% - 20px);
    left: 10px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    height: calc(100% - 90px);
    overflow-y:auto;
    overflow-x:hidden;
}
.contentsmallpopup {
    width: calc(100% - 20px);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
    overflow-x:hidden;
}
.contentpopupimages {
    position:absolute;
    top: 80px;
    width: calc(100% - 20px);
    left: 10px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    max-height: calc(100% - 90px);
    overflow-y:auto;
    overflow-x:hidden;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
}
.contentpopupimage {
    position:absolute;
    top: 80px;
    width: calc(100% - 20px);
    left: 10px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    height: calc(100% - 90px);
    overflow:hidden;
}
.contentpopupimage2 {
    position:absolute;
    top: 80px;
    width: calc(100% - 20px);
    left: -100%;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    height: calc(100% - 90px);
    overflow:hidden;
}
.contentpopupimage img {
    height:100%;
    width:100%;
    object-fit:contain;
}
.contentpopupimage2 img {
    height:100%;
    width:100%;
    object-fit:contain;
}
.contentpopup img {
    border-radius:10px;
}
.xpopup > img {
    height: 25px;
    width: 25px;
}
.xsmallpopup > img {
    height: 25px;
    width: 25px;
}
.contentpopupimage2.animatefromleft {
    animation-name:fromleft;
    animation-duration:.5s;
    animation-fill-mode:forwards;
}
.contentpopupimage2.animatefromright {
    animation-name:fromright;
    animation-duration:.5s;
    animation-fill-mode:forwards;
}
.contentpopupimage.animatetoright {
    animation-name:toright;
    animation-duration:.5s;
    animation-fill-mode:forwards;
}
.contentpopupimage.animatetoleft {
    animation-name:toleft;
    animation-duration:.5s;
    animation-fill-mode:forwards;
}
@keyframes fromleft {
    0% {
        left:-100%;
    }
    100% {
        left: 10px;
    }
}
@keyframes toleft {
    0% {
        left: 10px;
    }
    100% {
        left:-100%;
    }
}
@keyframes toright {
    0% {
        left: 10px;
    }
    100% {
        left:100%;
    }
}
@keyframes fromright {
    0% {
        left:100%;
    }
    100% {
        left: 10px;
    }
}
@keyframes openpopup {
    0% {
        width:0px;
        height: 0px;
        display:flex;
    }
    100% {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
        display:flex;
    }
}
@keyframes openpopupsearch {
    0% {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
        display:flex;
        opacity:0;
    }
    100% {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
        display:flex;
        opacity:100;
    }
}
@keyframes closepopup {
    0% {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
        opacity:100;
        display:flex;
    }
    99% {
        top: -100%;
        opacity:0;
        left: 20px;
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        display:flex;
    }
    100% {
        top: -100%;
        opacity:0;
        left: 20px;
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        display:none;
    }
}
@keyframes opensmallpopup {
    0% {
        width:0px;
        height: 0px;
        display:flex;
    }
    100% {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        display:flex;
    }
}
@keyframes opensmallpopupsearch {
    0% {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        display:flex;
        opacity:0;
    }
    100% {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        display:flex;
        opacity:100;
    }
}
@keyframes closesmallpopup {
    0% {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        opacity:100;
        display:flex;
    }
    99% {
        top: -100%;
        opacity:0;
        height: 100%;
        width: 100%;
        left: 0px;
        display:flex;
    }
    100% {
        top: -100%;
        opacity:0;
        height: 100%;
        width: 100%;
        left: 0px;
        display:none;
    }
}
.popup.animate {
    animation-name:openpopup;
    animation-fill-mode:forwards;
    animation-duration:.5s;
}
.popup.animatesearch {
    animation-name:openpopupsearch;
    animation-fill-mode:forwards;
    animation-duration:1.5s;
}
.popup.unanimate {
    animation-name:closepopup;
    animation-fill-mode:forwards;
    animation-duration:.5s;
}
.smallpopupcontainer.animate {
    animation-name:opensmallpopup;
    animation-fill-mode:forwards;
    animation-duration:.5s;
}
.smallpopupcontainer.animatesearch {
    animation-name:opensmallpopupsearch;
    animation-fill-mode:forwards;
    animation-duration:1.5s;
}
.smallpopupcontainer.unanimate {
    animation-name:closesmallpopup;
    animation-fill-mode:forwards;
    animation-duration:.5s;
}
.popup2.animate {
    animation-name:openpopup;
    animation-fill-mode:forwards;
    animation-duration:.5s;
}
.popup2.animatesearch {
    animation-name:openpopupsearch;
    animation-fill-mode:forwards;
    animation-duration:1.5s;
}
.popup2.unanimate {
    animation-name:closepopup;
    animation-fill-mode:forwards;
    animation-duration:.5s;
}

.input-username, input[type='password'] {
    /*width: calc(100% - 8px);
    margin-bottom: 10px;
    font-size: 33px;
    color: white;
    max-width: 500px;*/
  height: 30px;
  width: 98%;
  font-size:20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #222222;
  color:white;
}
.input-group {
    width:100%;
    display:flex;
    align-items:center;
    height:55px;
}
label {
  font-size:19px;
  white-space:nowrap;
}
.input-group-sub {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    height:55px;
}
.submitSettings {
  text-align:center;
  background-color: darkred;
  padding: 5.5px;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 200px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:20px;
  margin-top: 5px;
  border-radius: 10px;
  border:none;
}
.submitSettings:hover {
  background-color:red;
}
.orange {
    width:32px;
    height:32px;
    background-image: url("/capybara/orange.png");
    background-size:100%;
    object-fit:contain;
    background-position:center;
    background-repeat:no-repeat;
    image-rendering:pixelated;
    animation-name: bounce;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    position:absolute;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.trophy {
    width:32px;
    height:32px;
    background-image: url("/capybara/lemon.png");
    background-size:100%;
    object-fit:contain;
    background-position:center;
    background-repeat:no-repeat;
    image-rendering:pixelated;
    animation-name: bounce;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    position:absolute;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.messages {
    position:absolute;
    left:10px;
    bottom:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    max-width:calc(100% - 20px);
    background-color: #222222;
    color:white;
    outline-width:2px;
    outline-style:solid;
    outline-color: #333333;
    opacity:0;
    pointer-events:none;
    padding: 20px;
    font-family:Arial;
    font-size:20px;
    border-radius:10px;
    z-index:10;
    transition: .5s;
}
